*{
    margin: 0;
    padding: 0;
}

.contact-box{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    height: 64px;
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 20px;
    background-color: #ffeaae;
    border-radius: 10px;
    

}
.contact-box .user-icon{

    height: 48px;
    width: 48px;
    color: #f68202;
    flex-shrink: 0;
    margin-left: 20px;
    
}

.contact-box .contact-detail{
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-grow: 1;
    overflow: hidden;
    margin-left: 20px;
    



}

.contact-detail .name{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;  */
}

.icons{

    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons button{
     background-color: transparent;
     border: none;
     outline: none;

}


.dlt-icon{
    color: red;
       width: 19px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
    flex-shrink: 0;

 
}

.edit-icon{
    color: blue;
       width: 19px;
    height: 25px;
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 4px;
}


.no-contact{
    height: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    gap: 15px;
    color: white;
    font-weight: 500;
}


.contact-detail .email{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;


}







