*{
    padding: 0;
    margin: 0;
}

.modal{

    background-color: white;
    width: 90vw;
    height: 244px;
    margin-left: 5vw;
    position: absolute;
    top: 26%;
    display: flex;
    flex-direction: column;
    padding: 16px;


    opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.4s ease forwards;
    

    
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}




.modal .name{
    margin-top: 20px;
}

.modal input{

    height: 40px;
    width: 95%;
    margin: 9px 0px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 1rem;
    outline: none;

}

.modal p{
    font-size: 1rem;
    font-weight: 400;
}

.modal-btn{
    display: flex;
    justify-content: flex-end;
    
}

.modal .modal-btn button{
    background-color: #fcca3f;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 15px;
    height: 31px;
    width: 120px;
    margin-top: 20px;
    cursor: pointer;
    flex-shrink: 1;
    
}

.cross-icon{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;



}

.cross-icon button{
  background-color: transparent;
  border: none;
  /* font-size: 0.9rem; */
  font-weight: bold;
  cursor: pointer;
  padding: 0px 5px;

}






