*{
    margin: 0;
    padding: 0;
}

.navbar{

    height: 60px;
    width: 95vw;
    background-color: white;
    margin-left: 2.5vw;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 6px;
    gap: 7px;
}

.navbar img{
  
    width: 21px;
    height: 30px;
 
}

.search-input{
    display: flex;
    align-items: center;
    width: 95vw;
    height: 40px;
    margin-top: 20px;
    margin-left: 2.5vw;


}

.search {
    color: white;

    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    
    width: 90vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 1.1rem;
    
    

}



.search-contact{
    
   background-color: transparent;
   outline: none;
   border: none;
   color: white;
   font-size: 1.1rem;
   padding-left: 8px;
   

    
    
}

input::placeholder{
    color: white;
    padding-left: 5px;
}

 .plus-icon{
    width: 45px;
    height: 45px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-left: 10px;
    border-radius: 50%;
    font-weight: 900;
    cursor: pointer;
  

    


}



